{{!-- The four-colour AMPM meridian. Used in hero blocks for branding. --}}
<div class="big-meridian" style="max-width: {{#if max_width}}{{max_width}}{{else}}520{{/if}}px;">
  <span style="background: var(--ampm-c1);"></span>
  <span style="background: var(--ampm-c2);"></span>
  <span style="background: var(--ampm-c3);"></span>
  <span style="background: var(--ampm-c4);"></span>
</div>
